body {
    height: 100vh;
    margin: 0;
}

h2,
h3 {
    color: #333;
}

label {
    display: block;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
}

.container {
    padding: 10px 16px 40px;
    width: 100%;
}

.nav {
    background-color: var(--primary-color);
    padding: 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greet-message {
    color: #ffffff82;
}

.button {
    width: 100%;
    padding: 12px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.form-group select {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.form-group select:focus {
    border-bottom: 2px solid var(--primary-color);
}

.form-group select + .placeholder {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #aaa;
    transition: all 0.3s;
    pointer-events: none;

    top: 10px;
    left: 0.5rem;
    font-size: 0.75rem;
    color: var(--primary-color);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
    z-index: 9;
}

#overlay.hidden {
    width: 0;
    height: 0;
    opacity: 0;
}

.form-hidden {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.5s ease;
}

.form-hidden.show {
    bottom: 0;
}

.hidden {
    display: none;
}

#taskList {
    list-style-type: none;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    border-left: 5px solid #007bff;
}

#taskList li.due-today {
    background: #fff3cd;
    border-left-color: #ffc107;
}

#taskList li.completed {
    text-decoration: line-through;
    color: #888;
    border-left-color: #28a745;
    background-color: #f1f1f1;
}

.task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 1.25rem;
}

.task-menu-actions {
    display: flex;
    gap: 1.5rem;
}

.task-menu-actions button {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
}

.new-task {
    /* position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    border-radius: 99999px;
    font-weight: 800;
    font-size: 16px; */

    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    color: #fff;
    font-size: 2rem;
}
.new-task img {
    fill: #fff;
    color: #fff;
}
.new-task:focus {
    transform: scale(1.1);
    background-color: var(--primary-color-dark);
}
.plus {
    color: white;
    font-size: 32px;
    line-height: 1;
}
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.floating-btn {
    animation: float 2s infinite ease-in-out;
}

.clear-completed {
    color: #808080;
    margin-bottom: 20px;
    text-decoration: underline;
}

.clear-completed:disabled {
    color: #8b8b8b;
    cursor: not-allowed;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    border-left: 5px solid var(--primary-color);
}

.task-item.completed {
    text-decoration: line-through;
    color: #888;
    border-left-color: #28a745;
}

.task-item form {
    display: inline;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.task-content p,
.task-content h4 {
    padding: 0;
    margin: 0;
}

.task-content .task-description {
    font-size: 1.25rem;
}

.task-content .task-priority {
    font-size: 0.8rem;
}

.task-content .task-due {
    font-size: 0.75rem;
    color: #616161;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.task-actions form {
    padding: 0;
    margin: 0;
}

.icon-button {
    padding: 0.4rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.2em;
    transition: all 0.3s;
    border-radius: 3px;
}

.delete-form .icon-button i {
    color: #b72f2f;
}

.alert-due-today {
    color: #2c2c2c;
    margin-bottom: 8px;
    border: 1px solid #ffeeba;
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 32px;
    text-align: left;
    padding: 20px 16px 30px;
    background: rgb(104, 116, 220);
    background: linear-gradient(
        180deg,
        rgba(104, 116, 220, 1) 0%,
        rgba(135, 144, 218, 1) 50%,
        rgba(104, 116, 220, 1) 100%
    );
}

.logout-button {
    border: none;
    background-color: #e85e5ecc;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
}

.sort-controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sort-controls label {
    margin-right: 10px;
    font-weight: bold;
    color: #555;
}

.sort-controls select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
}

.empty-task {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.empty-task img {
    width: 120px;
}

.empty-task p {
    font-weight: bold;
    color: var(--primary-color);
}

.empty-task small {
    margin-bottom: 2rem;
    color: #b0b0b0;
}

#error-message {
    display: none;
    background-color: #d1a8a8;
    padding: 1rem;
    border: 1px solid #a0616a;
    border-radius: 7px;
    margin-bottom: 2rem;
    text-align: center;
}

#error-message .err-title {
    color: #ff6161;
    font-weight: 800;
    font-size: 16px;
}

#error-message .err-message {
    margin-top: 0.8rem;
    color: #cf5b5b;
    font-size: 14px;
}
