* {
    box-sizing: border-box;
}

body, h2, h3, ul, li, form, input, select, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, sans-serif;
}

